@media screen and (min-width: 401px) and (max-width: 480px) {
    // 
    .up-header-block-logo__text-logo {
        display: block;
    }

    .header-menu {
        display: none;
        flex-flow: column;
        position: absolute;
        width: 100%;
        padding-bottom: 2px;
        background-color: #2f2f2f;
        z-index: 2;
        right: 0;
        top: 101px;
        box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.35);
    }
    
    .header-menu__element {
        @include font-s_font-w_color(32px, 400, #ffffff);
        @include flex-align-pos(center);
        position: relative;
        padding: 30px 0 26px 26px;
        border-bottom: 1px solid #383838;
        font-family: $font-family-Montserrat;
    }

    .header-menu__element:hover {
        color: #8e82ad;
    }
    
    .header-menu__element:hover:before {
        content: "";
        position: absolute;
        left: 0;
        display: block;
        width: 4px;
        height: 53px;
        background-color: #8e82ad;
    }
    
    .button {
        padding: 16px 30px 17px 31px;
        border-radius: 26px;

        &--position {
            @include calcLength (top, '((100vw - 480px) * 1.75 + 910px)');
        }

        &--pseudo::after {
            top: 70px;
        }
    }
    
    .button__text {
        &--small {
           font-size: 17px;
        }
        
        &--medium {
            font-size: 21px;
        }
    }

    .main-header-block {
        @include background-img-property (50% 0, no-repeat, contain);
        @include calcLength (height, ('100vw * 1.737'));
        background-image: url(../img/480/header-img.jpg);
    }

    .main-header-block__title {
        margin-top: 70px;
        font-size: 54px;
    }

    .main-header-block__description {
        flex-flow: column;
        text-transform: capitalize;
        font-size: 20px;
    }

    .main-header-block__sub-description {
        font-size: 16px;
    }


}