@media screen and (max-width: 400px) {
    
    
    .header-menu {
        display: none;
        flex-flow: column;
        position: absolute;
        width: 100%;
        padding-bottom: 2px;
        background-color: #2f2f2f;
        z-index: 2;
        right: 0;
        top: 101px;
        box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.35);
    }
    
    .header-menu__element {
        @include font-s_font-w_color(32px, 400, #ffffff);
        @include flex-align-pos(center);
        position: relative;
        padding: 30px 0 26px 26px;
        border-bottom: 1px solid #383838;
        font-family: $font-family-Montserrat;
    }

    .header-menu__element:hover {
        color: #8e82ad;
    }
    
    .header-menu__element:hover:before {
        content: "";
        position: absolute;
        left: 0;
        display: block;
        width: 4px;
        height: 53px;
        background-color: #8e82ad;
    }

    .main-header-block {
        @include background-img-property (50% 0, no-repeat, contain);
        @include calcLength (height, ('100vw * 2.242'));
        background-image: url(../img/320/header-img.jpg);
    }

    .main-header-block__description {
        flex-flow: column;
        text-transform: capitalize;
    }
}