.container {
    padding: 0 10px;
    background-image: url(../img/320/header-img.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.up-header-block {
    @include flex-align-pos (center);
    justify-content: space-between;
    height: 103px;
    margin: 0 -10px 0 -10px;
    padding: 0 15px 0 15px;
    background-color: #262626;
}

.up-header-block-logo {
    @include flex-align-pos(center);


    &__logo {
        @include width-height (43px, 41px);
        background-image: url(../img/header-logo.png);
    }

    &__logo:hover {
        background-image: url(../img/header-logo-hower.png);
    }

    &__text-logo {
        @include font-s_font-w_color(24px, 400, #8d81ac);
        display: none;
        font-family: $font-family-Lato;
        margin-left: 15px;
        text-transform: uppercase;
        text-decoration: none;
    }

    &__text-logo:hover {
        color: #ffffff;
    }
}

.header-menu {

    &__element {
        text-transform: capitalize;
        text-decoration: none;
    }
    
    &__element:hover {
        color: #ffffff;
    }
}


.button {
    @include flex-justify-pos(center);
    position: relative;
    padding: 10px 24px 11px 25px;
    border-radius: 20px;
    background-color: #8e82ae;
    text-decoration: none;
    text-align: center;

    &--text-transform-capitalize {
        text-transform: capitalize;
    }

    &--position {
        position: absolute;
    }

    &--pseudo::after {
        @include font-s_font-w_color(14px, 400, #848e97);
        content: "Unlimited 30-Days Trial Period";
        position: absolute;
        top: 50px;
        font-family: $font-family-Montserrat;
    }

    &:hover {
        background-color: #ffffff;

        .button__text {
            color: #8e82ae;
        }
    }

    &__text {
        font-family: $font-family-Montserrat;

        &--small {
            @include font-s_font-w_color (15px, 700, #ffffff);
        }

        &--medium {
            @include font-s_font-w_color (18px, 700, #ffffff);
        }
    }
}

.burger-menu-btn {
    @include width-height (30px, 27px);
    padding-top: 2px;

    &__wrapper {
        display: flex;
        flex-flow: row-reverse wrap;
    }

    &__element {
        width: 25px;
        height: 3px;
        background-color: #ffffff;
        margin: 3px 0;
        border-radius: 2px;
        transition: all 0.05s linear;
    }

    &__element:first-child {
        width: 20px;
    }
}

.main-header-block {
    @include flex-align-pos (center);
    flex-direction: column;
    position: relative;
    margin-top: -1px;
    text-align: center;

    &__title {
        @include font-s_font-w_color (48px, 700, #ffffff);
        font-family: $font-family-Montserrat;
        margin-top: 60px;
    }

    &__description {
        @include font-s_font-w_color (18px, 400, #8d81ac);
        display: flex;
        margin-top: 10px;
        font-family: $font-family-Lato;
    }

    &__description-span--margin-top-a {
        margin-top: 11px;
    }

    &__sub-description {
        @include font-s_font-w_color (14px, 400, #848e97);
        margin-top: 22px;
        font-family: $font-family-Montserrat;
        text-transform: uppercase;
    }
}