.container {
  min-width: 320px; }

.up-header-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 103px;
  padding: 0 10px 0 10px;
  background-color: #262626; }

.up-header-block__logo {
  width: 43px;
  height: 41px;
  background-image: url(../img/header-logo.png); }

.button {
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
  padding: 10px 20px 10px 20px;
  border-radius: 20px;
  background-color: #8e82ae; }
  .button--right {
    right: 11px; }
  .button--position {
    position: absolute;
    bottom: 50px; }

.button__text {
  font-size: 15px;
  font-weight: 700;
  color: #ffffff;
  font-family: Montserrat, sans-serif; }

.burger-menu-btn {
  width: 20px;
  height: 21px; }

.burger-menu-btn__wrapper {
  display: flex;
  flex-flow: row-reverse wrap; }

.burger-menu-btn__element {
  width: 20px;
  height: 2px;
  background-color: #ffffff;
  margin: 2px 0;
  transition: all 0.05s linear; }

.burger-menu-btn__element:first-child {
  width: 15px; }

.main-header-block {
  display: flex;
  justify-content: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 700px;
  flex-wrap: wrap;
  background-image: url(../img/320/header-img.jpg); }

.main-header-block__title {
  font-size: 48px;
  font-weight: 700;
  color: #ffffff;
  font-family: Montserrat, sans-serif;
  margin-top: 43px; }

.main-header-block__description {
  font-size: 18px;
  font-weight: 400;
  color: #8d81ac;
  display: flex;
  flex-flow: column;
  text-transform: capitalize; }

.here-is-what-you-get {
  min-width: 320px;
  margin: 0 auto; }

.here-is-what-you-get__holder {
  display: flex;
  flex-direction: column;
  align-items: center; }

.holder__slogan {
  display: flex;
  width: 76%;
  line-height: 1.35;
  font-family: 'Montserrat', sans-serif;
  color: #8d81ac;
  font-size: 32px;
  font-weight: 700;
  text-align: center;
  margin-top: 37px; }

.holder__item {
  width: 84%;
  display: flex;
  flex-direction: column;
  text-align: center; }

.holder__item__img {
  margin-top: 34px;
  cursor: pointer; }

.holder__item__title {
  font-family: 'Montserrat', sans-serif;
  color: #323232;
  font-size: 16px;
  font-weight: 400;
  margin-top: 29px; }

.holder__item__text {
  font-family: 'Lato', sans-serif;
  color: #848e97;
  font-size: 14px;
  font-weight: 400;
  margin-top: 21px;
  line-height: 1.35; }

.holder__item__img-code {
  background-image: url(../img/320/code.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 381px;
  width: 100%;
  margin-top: 57px;
  cursor: pointer; }

.here-is-what-you-get__slider {
  border: 1px solid aqua;
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

.here-is-what-you-get__carousel {
  display: flex;
  width: 70%;
  display: flex;
  border: 1px dotted red;
  /* overflow: hidden; */ }

.here-is-what-you-get__carousel__items {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%; }

.carousel__items__img {
  display: block;
  margin: 0 auto;
  width: 86px;
  height: 86px;
  border: 1px solid #f8b8ba;
  border-radius: 43px;
  box-sizing: border-box;
  overflow: hidden;
  background-image: url(../img/320/Jhon_Travolta.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 63px; }

.robo {
  background-image: url(../img/320/Robocop.jpg); }

.bat {
  background-image: url(../img/320/Batman.jpg); }

.carousel__items__name {
  font-family: 'Montserrat', sans-serif;
  color: #474747;
  font-size: 24px;
  font-weight: 700;
  margin-top: 25px;
  text-align: center; }

.carousel__items__proffesion {
  font-family: 'Montserrat', sans-serif;
  color: #8d81ac;
  font-size: 16px;
  font-weight: 400;
  margin-top: 7px;
  text-align: center; }

.carousel__items__description {
  font-family: 'Lato', sans-serif;
  color: #333333;
  font-size: 17px;
  font-weight: 400;
  text-align: center;
  padding-top: 23px;
  text-align: center; }

.violet-text {
  color: #8d81ac; }

.carousel__items__hours {
  font-family: 'Montserrat', sans-serif;
  color: #848e97;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  text-align: center;
  padding-top: 16px;
  padding-bottom: 35px; }

.here-is-what-you-get__button {
  display: flex;
  align-items: center;
  width: 10%;
  justify-content: center; }

.here-is-what-you-get__arrov-left {
  cursor: pointer;
  display: flex;
  justify-content: flex-start; }

.here-is-what-you-get__arrov-right {
  cursor: pointer;
  display: flex; }

.hide {
  display: none; }
