.container--style {
  min-width: 320px; }

.up-header-block {
  display: flex;
  align-items: center; }
  .up-header-block--style {
    height: 103px;
    background-color: #262626; }

.logo {
  width: 43px;
  height: 41px; }
  .logo--style {
    margin-left: 16px;
    background-image: url(../img/header-logo.png); }
