@mixin flex-justify-pos ($justify) {
    display: flex;
    justify-content: $justify;
}

@mixin flex-align-pos($align) {
    display: flex;
    align-items: $align;
}

@mixin width-height ($width, $height) {
    width: $width;
    height: $height;
}