@mixin flex-justify-pos ($justify) {
    display: flex;
    justify-content: $justify;
}

@mixin flex-align-pos($align) {
    display: flex;
    align-items: $align;
}

@mixin width-height ($width, $height) {
    width: $width;
    height: $height;
}

@mixin font-s_font-w_color ($font-size, $font-weight, $color) {
    font-size: $font-size;
    font-weight: $font-weight;
    color: $color;
}